#caja1{
    background-color: #fafafa;
  margin-left: 37%;
  margin-top: 5%;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

#caja2{
    background-color: #fafafa;
  margin-left: 37.5%;
  margin-top: 10%;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

#mensaje{
 margin-top: 15px;
 margin-bottom: 0px;
 color: #444;
}

#a1:link{
  text-decoration: none;
}

#a1:hover{
  text-decoration: underline;
}