/* ESTILOS GENERALES */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../img/paven.png);
    font-family: 'Roboto', sans-serif;
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}

#header{
   background: #534d48;
}

#header a:hover{
    color: #be9e21;
}

#imagen{
    float: left;
    
}

#info{
    margin-top: 30px;
    
}

#info h2{
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

#detalle{
    float: right;
    width: 500px;
    margin-left: 15px;
    margin-top: 100px;
}

#datos{
    margin-top: 30px;
    width: 650px;
    color: #333;
}

.titulos h1{
    font-weight: bold;
    font-size: 20px;
}

#datos p{
    font-size: 15px;
    margin-top: -10px;
}

#acordeon button{
    font-weight: bold;
    
}

